.landing-category {
	grid-area: d;

	background-color: #e8d0b8;
	//border: #3b4ccfd8 2px solid;

	width: 100vw;
	height: 200vh;

	//overscroll-behavior: none;
	&__sticky {
		background-color: var(--main_color);

		position: sticky;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		display: flex;
		flex-wrap: wrap;
		align-content: flex-end;
		flex-basis: 100%;

		& .category-headers {
			background-color: var(--main_color);

			position: relative;
			bottom: 5%;

			display: flex;
			flex-basis: 60%;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;

			@media screen and (max-width: 769px), (max-aspect-ratio: 1/1) {
				//top: 35%;
				width: 70%;
				height: 30%;
			}
			@media screen and (min-width: 1024px) {
				//top: 35%;
				width: 70%;
				height: 45%;
			}

			& .header-fixed {
				background-color: #e8d0b8;
				//border: rgb(0, 110, 255) dashed 1px;

				width: auto;
				height: auto;

				text-align: right;
				text-transform: uppercase;

				font-size: clamp(30px, 11.5vw, 200px);
				font-weight: 200;
				font-style: italic;
				font-family: auto;
				letter-spacing: -0.6rem;

				margin-block-start: 3%;
				margin-block-end: 1%;
				line-height: 2rem;

				@media screen and (max-width: 481px) {
					letter-spacing: -0.2rem;
				}
			}

			& .header-dynamic {
				border: rgb(36, 28, 28) solid 1px;
				background-color: transparent;
				overflow: hidden;

				width: 60%;
				height: clamp(10px, 5vw, 90px);

				position: relative;
				top: 0%;

				align-self: flex-end;

				&__text {
					//border: rgb(38, 0, 255) dashed 2px;
					background-color: #e8d0b8;

					position: absolute;
					width: 100%;

					font-size: clamp(10px, 5vw, 90px);
					font-weight: 300;
					font-family: auto;

					text-transform: uppercase;
					letter-spacing: -0.1rem;

					margin-block-start: 0%;
					margin-block-end: 0%;
				}
			}
		}

		& .category-products {
			position: relative;
			background-color: #eeeeed;
			background-color: #e8d0b87b;
			width: 400%;
			height: 50%;

			display: flex;
			flex-direction: row; //each category next to the other
			flex-wrap: nowrap;
			justify-content: center;
			align-items: flex-start;

			@media screen and (max-width: 769px), (max-aspect-ratio: 1/1) {
				height: 70%;
			}
			@media screen and (min-width: 1024px) {
				height: 55%;
			}

			.each-category {
				border-top: double #f3eadd 2px;
				background-color: #ead4be;
				//background-color: yellow;
				position: relative;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				width: 100vw;
				height: 100%;

				/* @media screen and (min-width:769px) and (max-width:1024px) {
					height: 80%;
				} */

				&.slide-first {
					transform: translateX(-100%);
					transition: transform 1s ease;
				}
				&.slide-second {
					transform: translateX(-200%);
					transition: transform 1s ease;
				}
				&.slide-third {
					transform: translateX(-300%);
					transition: transform 1s ease;
				}

				&__product-card {
					position: absolute;
					//    top: 40%;
					width: 100%;
					height: 80%;

					cursor: pointer;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-around;
					align-items: center;

					@media screen and (max-width: 769px) and (orientation: Portrait),
						(max-aspect-ratio: 1/1) {
						flex-wrap: wrap;
					}

					& .product-image {
						background-color: #f3eadd;
						border-radius: 10px;
						width: 22%;
						height: 100%;
						position: relative;

						@media screen and (max-width: 769px) and (orientation: Portrait),
							(max-aspect-ratio: 1/1) {
							//border: red 2px solid;
							width: 40%;
							height: auto;
						}

						img {
							position: relative;
							width: 95%;
							height: 70%;
							top: 50%;
							transform: translateY(-50%);
							object-fit: cover;

							@media screen and (max-width: 769px) and (orientation: Portrait),
								(max-aspect-ratio: 1/1) {
								top: 0;
								transform: none;
							}
						}
					}
				}
			}
		}
	}
}
/* 	useLayoutEffect(() => {
		let ctx = gsap.context(() => {
			const arr = gsap.utils.toArray(".category_each-container");

			let scrollTween = gsap.to(arr, {
				xPercent: -100 * (arr.length - 1),
				ease: "none",
				scrollTrigger: {
					trigger: ".cat_container",
					pin: true,
					delay:1,
					scrub: true,
					snap: {
						snapTo: 1 / (arr.length - 1),
						directional: false,
					},
					markers: {
						startColor: "green",
						endColor: "green",
						fontSize: "18px",
						fontWeight: "bold",
						indent: 20,
					},
					start: "top+=50 top",
					end: `+=100%`,
				},
			});

			const arr1 = gsap.utils.toArray(".cat_image_each");
			gsap.set(arr1, { y: 100 });

			arr1.forEach((e, index) => {
				gsap.fromTo(
					e,
					{
						xPercent: 50,
					},
					{
						xPercent: 0,
						duration: 1,
						ease: "elastic",
						//delay: `${index * 0.3}`,
						scrollTrigger: {
							trigger: e,
							//stagger: 0.1,
							containerAnimation: scrollTween,
							markers: {
								startColor: "black",
								endColor: "black",
								fontSize: "20px",
								fontWeight: "bold",
								indent: 20,
							},
							start: "start-=20% bottom",
							toggleActions: "play play none reset",
						},
					}
				);
				/* gsap.fromTo(
					e,
					{
						xPercent: 50,
						//yPercent: -10,
					},
					{
						xPercent: -10,

						duration: 2,
						ease: "none",
						//delay: `${index * 0.3}`,
						scrollTrigger: {
							trigger: e,
							stagger: 0.1,
							containerAnimation: scrollTween,
							markers: {
								startColor: "black",
								endColor: "black",
								fontSize: "20px",
								fontWeight: "bold",
								indent: 20,
							},
							start: "start-=20% bottom",
							toggleActions: "play none none reset",
						},
					}
				); 
			});

			ScrollTrigger.refresh();
		}, app);

		return () => ctx.revert();
	}); */
