.hero_section_container {
	background-color: #e2c3a5; // 2 shades darker
	overflow: hidden;
	position: relative;

	grid-area: a;

	width: 100vw;
	height: auto;

	.hero_container {
		background-color: #debb99; // 4 shades darker
		overflow: hidden;

		width: 100%;
		height: 100%;

		position: absolute;

		.hero_video {
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;

			object-fit: cover;
		}
		.hero_edit {
			background-color: red;
			position: absolute;
			top: 10%;
			right: 5%;
			width: 30px;
			height: auto;

			img {
				padding: 1%;
				margin: 0;
			}
		}
	}
}
