.text-container{
  background:  #e6ccb2;

  width:100vw;
  height: 100vh;
  position: fixed;


  top: 0;
  left: 0;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      overflow: hidden;

      h1 {

          font-size: 3rem;
          color: inherit;
          transform: translateY(45px);
        }
    }
}