.shop_page_container {
	width: 100vw;
	height: auto;

	//background-color: rgba(102, 255, 0, 0.476);
	position: relative;
	top: 0vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
