.shop_large_container {
	//width: 100vw;
	//height: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	.shopItems {
		//border: black 1px dashed;
		margin-top: 5%;

		display: flex;
		flex-basis: 90%;
		flex-wrap: wrap;
		justify-content: center;

		& .vertical-wrapper {
			//border: rgb(25, 230, 10) 1px dashed;

			display: flex;
			flex-basis: calc(100% / 3);
			flex-grow: 1;
			flex-wrap: wrap;
			margin-bottom: 5vh;
			justify-content: center;

			.shop_item {
				flex-basis: 100%;
				margin: 0;
				justify-content: space-between;

				.image_wrapper {
					height: 80%;
				}
			}
			&.flatten {
				.shop_item {
					flex-basis: 45%;
					flex-grow: 0;
				}
			}
		}
		& :nth-child(5),
		& :nth-child(9) {
			flex-basis: calc(200% / 3);
			border: #ede0d4 solid 1px;
			align-items: stretch;

			.image_wrapper {
				height: 90%;
			}
			.shop_item-details {
				height: 10%;
			}
		}
	}
}

.shop_items {
	//background-color: aquamarine;

	margin-top: 5%;

	display: flex;
	flex-basis: 90%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.pagination {
	//background-color: burlywood;

	width: 20%;
	height: 30%;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	.page_number {
		//border: 1px solid green;
		padding: 1% 5%;
		border-radius: 5px;
		cursor: pointer;

		&-active {
			background-color: #f3eadd;
		}
	}
}
