.filter_container {
	background-color: var(--main_color);

	width: 100%;
	height: fit-content;

	margin-top: var(--nav_height);
	padding-left: 10%;

	color: var(--counter_light);

	display: flex;
	flex-wrap: wrap;

	position: sticky;

	/* justify-content: flex-start;
	align-items: stretch; */

	z-index: 3;

	transition: all 0.5s ease;

	.shop_dropdown-container {
		position: relative;
		/* border: rgb(64, 255, 0) 2px solid; */
		flex-basis: 90%;
		padding: 1vh 0.5vw;
		max-height: 20vh;
		height: fit-content;

		transition: all 0.5s ease;

		&.--active {
			background-color: #e3bfb6;
		}

		.shop_dropdown_selected {
			//background-color: var(--main_color);
			border-bottom: 1px solid var(--counter_light);
			//overflow: hidden;
			opacity: 1;
			width: 90%;

			font-size: clamp(16px, 1.5vw, 29px);
			font-family: auto;
			font-weight: 300;
			word-spacing: 0.2rem;
			margin-block-end: 0.5rem;
			margin-block-start: 0.5rem;
			transition: all 0.5s ease;

			cursor: pointer;
			&.--active {
				font-weight: 600;
			}
		}

		.shop_dropdown_wrapper {
			background-color: #e3bfb6;

			position: absolute;
			top: 70%;
			right: 10%;

			min-width: 200px;
			width: 60%;

			height: auto;

			padding: 0.5vh 0.5vw;
			margin-right: 2px;

			z-index: 1;

			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: stretch;

			@media screen and (min-width: 700px) {
				right: 0;
				width: 100%;
			}

			&.category-wrapper {
				clip-path: inset(0 0% 100% 0);
				transition: all 0.5s linear;

				&--active {
					clip-path: inset(0 0% 0% 0);
					transition: all 0.5s linear;

					.shop_dropdown {
						opacity: 1;
						transition: opacity 0.5s linear;
					}
				}
			}

			&.collection-wrapper {
				clip-path: inset(0 0% 100% 0);
				transition: all 0.5s linear;

				&--active {
					z-index: 1;

					clip-path: inset(0 0% 0% 0);
					transition: all 0.5s linear;

					.shop_dropdown {
						opacity: 1;
						transition: opacity 0.5s linear;
					}
				}
			}
			&.gem-wrapper {
				clip-path: inset(0 0% 100% 0);

				transition: all 0.5s linear;

				&--active {
					z-index: 1;

					clip-path: inset(0 0% 0% 0);
					transition: all 0.5s linear;

					.shop_dropdown {
						opacity: 1;
						transition: opacity 0.5s linear;
					}
				}
			}

			.shop_dropdown {
				margin: 5px 5px;
				opacity: 0;
				padding: 5px 5px;
				flex-basis: 10%;
				flex-grow: 1;
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border: 1px solid var(--counter_light);
				transition: opacity 0.5s linear;

				&.filter {
					background-color: #e3bfb6;
					border: #5c3d1e 1px solid;
					border-radius: 10px;
				}

				p {
					font-size: clamp(5px, 5vw, 16px);
					font-weight: 400;

					margin-block-start: 0px;
					margin-block-end: 0px;
				}
			}
		}
	}
}
